.user__button  {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 250px;
  height: 50px;
  gap: 5px;
  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(82, 84, 241, 1);
    span {
      color: #fff;
    }  

  }
  &-name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(37, 42, 59, 1);
  }
}