.login__main-info {
  width: 330px;
  h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #fff;    
    margin-bottom: 20px;
  }
  &--descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(163, 167, 204, 1);    
  }
}